$color_clouds : #ECF0F1;
$color_silver : #BDC3C7;
$color_concrete : #95A5A6;
$color_asbestos : #7F8C8D;



.login-form{


	.fb-btn{
		background-color: #3C579E;

	}

	label[for=remember_me]{
		color: $color_asbestos;
	}

}


