.login-form .fb-btn {
  background-color: #3C579E; }
.login-form label[for=remember_me] {
  color: #7f8c8d; }

.separator p:before,
.separator p:after{
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 40%;
	background: #BDC3C7;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.48);
	display: inline-block;
	opacity: 0.58;
}

.separator p{
	color: #BDC3C7;
	text-align: center;
}

.demologo .logo{
	background: url(../img/logo.png) center 0 no-repeat !important;

}

.navbar {
	border-radius: 0 !important;
}

@font-face {
    font-family: museo-heading;
    src: url(../fonts/museo/Museo700-Regular.otf);
}

@font-face {
    font-family: museo;
    src: url(../fonts/museo/Museo300-Regular.otf);
}

.museo{
	font-family: museo !important;
}

.museo-heading{
	font-family: museo-heading !important;
}

h1, h2, h3, h4, h5 {
	font-family: museo-heading !important;
}

strong{
	font-family: museo-heading !important;
}

.clearfix{
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.workshop-div{
    
    /*background: #F1C40F;*/
    background: #ECF0F1;
    padding: 0px 40px;
    margin: 20px 0px;
    border-radius: 6px;
}

.workshop-div .col-xs-12{
	margin-top:70px;
	background-color: rgba(255, 255, 255, 0.92);
	padding-bottom: 20px;
}
.workshop-img{
    padding: 40px;
    padding: 40px;
}

.comment-div{
    margin: 5px 0px;
}

.kb-logo{
    height: 250px;
}
.workshop-item{
	float: left;
	width: 350px;
	height: 250px;
	position: relative;
}


nav .btn-group button{
	margin-top: 12px;
	color: white;
	background: none;
	border: none;
	text-decoration: underline;
}

nav .btn-group button:hover{
	text-decoration: none;
	color: #1abc9c;
}

nav .btn-group img{
	margin-right: 5px;
}

.social-icon{
    margin-right:30px;
    font-size: 40px;
}

.icon-text{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 2px;
}

#workshop-user{

}

.work-title{
	position: absolute;
	top: 180px;
	background-color: rgba(255, 255, 255, 0.92);
}